# Ignore from pyinstall build
*.spec
build
dist

# Ignore virtual environments
.venv

# Ignore tmp files
tmp

# Ignore class/cache files
*.pyc
__pycache__

# Ignore vim
*.swp

# Ignore kubeconfig (for testing)
kubeconfig
